XML/ch03/ex3-3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!NOTATION png PUBLIC "image/png" "photoshop.exe">
<!NOTATION jpeg PUBLIC "image/jpeg" "paintshop.exe">
<!NOTATION bmp PUBLIC "image/bmp" "mspaint.exe">

<!ELEMENT booklist (book*)>
<!ELEMENT book (title, author, image)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image
src CDATA #REQUIRED
type NOTATION (png|jpeg|bmp) #REQUIRED>