XML/ch05/complex-choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="학생">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:choice>
              <xsd:element name="학번" type="xsd:string"/>
              <xsd:element name="이름" type="xsd:string"/>
          </xsd:choice>
	<xsd:choice>
              <xsd:element name="전화" type="xsd:string"/>
              <xsd:element name="주소" type="xsd:string"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
</xsd:schema>
          