XML/ch05/ex5-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="주소" type="addressType"/>
    
    <xsd:complexType name="addressType">
        <xsd:sequence>
            <xsd:element name="도시" type="xsd:string"/>
            <xsd:element name="구" type="xsd:string"/>
            <xsd:element name="동" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>