XML/ch05/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="student">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="sno" type="xsd:string"/>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="age" type="xsd:string"/>
                <xsd:element name="phone" type="xsd:string"/>
                <xsd:element name="address" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>